{
  "repositoryUrl": "https://github.com/ocrosby/lambda-packager.git",
  "version_variable": "pyproject.toml:version",
  "branch": "main",
  "upload_to_pypi": true,
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": ["pyproject.toml"]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node update-version.js ${nextRelease.version}"
      }
    ]
  ]
}